{% extends "receipting/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'receipting/style.css' %}">
    <title>Home Page</title>
</head>
<body>
    <div class="content">
    <div class="container">
        <h2>Welcome to the Home Page</h2>
        <a style="color: black;" href="{% url 'receipts' %}">Receipts</a>
    </div>
</div>
</body>
</html>
{% endblock %}
